<% content_for :title, @author.name %>
<div id="authors_show">
  <h1><%= yield :title %></h1>
      <dl class="dl-horizontal-left">
        <dt><%=t('activerecord.attributes.author.name') %></dt>
        <dd><%=@author.name || '-' %></dd>
        <dt><%=t('activerecord.attributes.author.books') %></dt>
        <dd><%= collection_to_html @author.books.pluck(:title) %></dd>
      </dl>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Editar', edit_author_path(@author), class: 'btn btn-primary' %>
      <%= link_to 'Volver', authors_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

