<% content_for :title, @editorial.name %>
<div id="editorials_show">
  <h1><%= yield :title %></h1>
      <dl class="dl-horizontal-left">
        <dt><%=t('activerecord.attributes.editorial.name') %></dt>
        <dd><%=@editorial.name || '-' %></dd>
      </dl>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Editar', edit_editorial_path(@editorial), class: 'btn btn-primary' %>
      <%= link_to 'Volver', editorials_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>

